body{
	background-image:
	linear-gradient(rgba(20, 0, 20, 0.5), rgba(0, 0, 0, 0.4)), 
	url('https://hd.unsplash.com/photo-1423592707957-3b212afa6733');
	font-family: 'Raleway', sans-serif;
	text-align: center;
}

.drop-down {
	width: 51%;
	height: 4%;
	text-align: center;
	border: 2px solid #78a795;
	border-radius: 5px;
	font-weight: 100;
}

.navbar {
	background-color: gray;
}

.navbar-default {
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: 1px solid #78a795;
}

.navbar-collapse {
	float: right;
}

.special-text-small {
	font-size: 130%;
	color: #333!important; /*Use important because it overrides Bootstrap*/
	font-family: 'Raleway', sans-serif;
	font-weight: bold!important;
}

.special-text {
	font-size: 150%;
	color: #333!important; /*Use important because it overrides Bootstrap*/
	font-family: 'Raleway', sans-serif;
}

.special-text-x2 {
	font-size: 220%;
	color: #333!important; /*Use important because it overrides Bootstrap*/
	font-family: 'Raleway', sans-serif;
	font-weight: bold!important;
}

.special-text:hover {
	background-color: #78a795!important;
}

button {
	background-color: #d2d2d2!important;
	border: 1px solid #78a795!important;
	border-radius: 7px!important;
	font-style: none; 
}

a:hover {
	text-decoration: none;
	color: #638c7d;
}

h1 {
	font-size: 50;
}

h2 {
	font-size: 30;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Raleway', sans-serif;
}
p, div {
	font-family: 'Raleway', sans-serif;
}

.container {
	font-family: 'Raleway', sans-serif;
}

form {
	background-color: gray;
	padding: 10;
	margin: 10;

	border-radius: 10px;
	border: 1px solid #78a795;
}

input {
	color: black;
}

input, textarea {
	border-radius: 10px;
	border: 2px solid #78a795;
	padding-left: 7;
	color: black!important;
}

.colorSelector {
	padding-left: 1;
	padding-right: 1;
	padding-top: 0;
	padding-bottom: 0;
	margin: 0;
}

form input {
	font-weight: normal;
}

textarea input {
	font-weight: normal;
}

.inputClass {
	font-weight: normal;
}

input:hover, textarea:hover {
	border-color: #638c7d;
	border-width: 2;
}

input:focus, textarea:focus {
	border-color: #638c7d;
	border-width: 2;
	outline-width: 0;
}

.form-box p {
	font-weight: bold;
	opacity: 1;
	color: #000000;

}

a {
	color: white;
	text-decoration: none;
}

.form-box {
	opacity: .8;
}


.time-entry {
	text-align: center;
}


.scrollableBox {
	overflow-y: scroll;
	max-height: 75%;
	min-height: 75%;
	background-color: gray;

	border-radius: 10px;
	border: 1px solid #78a795;
}

.dataInner {
	border-radius: 10px;
	border: 1px solid #78a795;
	margin: 15;
}

.modal-content input {
	width: 70%;
}

#getClassDropdown {
	width: 70%;
	color: black;
}

#getClassDropDownFilled {
	color:black;
	width:70%;
}

input {
	text-align: center;
	vertical-align: center;
}

